.njit-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

.healthbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 0px 0px 10px 0px;
    margin: auto;


}
.mdc-linear-progress__bar-inner{
    background-color: greenyellow !important;
}

mat-progress-bar .mat-progress-bar-fill {
    width: inherit !important;
    border-color: greenyellow !important;
}

.question {
    padding-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .option {
        width: 49.2%;
        border-radius: 5px;
        cursor: pointer;
    }
}

.qcard {
    padding: 15px;
    width: 80vw;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 15px;
    transition: transform 0.3s;
}