.question {
    padding-bottom: 10px;
}
.options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between stretch;
    gap: 10px;
}

.option{
    width: 49%;
    border-radius: 5px;
    cursor: pointer;
}

.qcard{
    padding: 15px;
}